@albatrosdeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
@AlbatrosDeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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